<!-- Footer -->
<div class="flex flex-col-reverse justify-evenly lg:flex-row lg:justify-between items-center absolute bottom-0 h-16 w-full px-6 bg-gradient-to-t from-black to-transparent letra2 lg:text-sm">
    <p class="text-white font-bold lg:font-normal">API de Pokémon en Astro</p>
    <p class="text-white">Actividad DIWE</p>
</div>